# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [7]:
# Read the WeatherPy_vacation.csv into a DataFrame 
file_to_load = "../Vacation_Search/WeatherPy_vacation.csv"
vacation_df=pd.read_csv(file_to_load)
# Display sample data
vacation_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Wattegama,LK,81.84,few clouds,6.7989,81.4808,Silanrich Hotel
1,1,Asosa,ET,59.23,overcast clouds,10.0667,34.5333,Blendana Hotel Assosa
2,2,Curumani,CO,75.15,overcast clouds,9.1999,-73.5427,Hotel Los Cubides
3,5,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,Little Italy Hotel
4,7,Busselton,AU,56.80,overcast clouds,-33.6500,115.3333,Observatory Guest House
...,...,...,...,...,...,...,...,...
505,706,Biloela,AU,76.33,overcast clouds,-24.4167,150.5000,Silo Motor Inn Biloela
506,707,Qui Nhon,VN,80.19,overcast clouds,13.7667,109.2333,Seagull Hotel
507,708,Taltal,CL,57.65,clear sky,-25.4000,-70.4833,Residencial Karime
508,710,Pedro Ii,BR,71.98,scattered clouds,-4.4247,-41.4586,Opala Hotel
509,712,Havelock,US,65.93,clear sky,34.8791,-76.9013,Sherwood Motel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [8]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [28]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] == 'Vincennes']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Vincennes']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Nevers']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Challans']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Dinard']

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [55]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy() 
start

array([48.85, 2.4333], dtype=object)

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [67]:
# Define a new figure object
fig = gmaps.figure(center=(48.5, 2.0), zoom_level=6.5)
# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start,end, waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')
                                

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [41]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,609,Vincennes,FR,53.17,broken clouds,48.8500,2.4333,Aparthotel Adagio Paris Vincennes
1,407,Nevers,FR,55.40,overcast clouds,46.9167,3.3333,ibis Nevers
2,480,Challans,FR,59.92,overcast clouds,46.8436,-1.8749,Citotel Le Challans
3,532,Dinard,FR,50.38,clear sky,48.6314,-2.0614,ibis Saint-Malo Plage

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [44]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[['Lat','Lng']]

In [65]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure(center=(48.5, 2.0), zoom_level=6.5)

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))